
@media(max-width: 768px){
    header .container a{
        display: block;
    }

    header .container{
        margin-top: -5rem;
    }


    .carousal img{
        width: 100%;
    }
    .showcase .container{
        grid-template-columns: 1fr;
    }

    .mission .container{
        grid-template-columns: 1fr;
    }

    footer .container{
        flex-direction: column;
        gap: 10px;
    }

    .discuss .container{
        grid-template-columns: 1fr;
       
        
        

    }

    .discuss .container div{
        width: 100%;
        
    }
    .team .container .card{
        width: 90%;
    }

    .team{
        margin-top: -2rem;
    }

    .contact-us .container #contactForm{
        background-color: red;
    }
    
 }


 /* ANIMATION START STATE */
.scroll-animation{
    opacity: 0;
    transform: translateY(80px) scale(0.9);
    transition: all 1s ease;
}

/* ACTIVE ANIMATION */
.scroll-animation.active{
    opacity: 1;
    transform: translateY(0) scale(1);
}

/* POPUP ANIMATION */
.popup-animation{
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.8s ease;
}

.popup-animation.active{
    opacity: 1;
    transform: scale(1);
}
